{% load static %}
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../img/apple-icon.png">
	<link rel="icon" type="image/png" href="../img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Maatratva</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/material-kit.css' %}" rel="stylesheet" />
</head>

<body class="about-us">
	<nav class="navbar navbar-transparent navbar-absolute">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'home' %}">Maatratva</a>
			</div>

			<div class="collapse navbar-collapse" id="navigation-example">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{% url 'home' %}"> Home
						</a>
					</li>
					<li>
						<a href="{% url 'login' %}"> Login
						</a>
					</li>
					<li>
						<a href="{% url 'signup' %}"> Sign Up
						</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Do's and Dont's
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu dropdown-with-icons">
							<li> 
								<a href="{% url 'before' %}">Before Pregnancy
								</a>
							</li>
							<li>
								<a href="{% url 'during' %}">During Pregnancy
								</a>
							</li>
							<li>
								<a href="{% url 'after' %}">After Pregnancy
								</a>
							</li>
						</ul>
					</li>
					<li id="google_translate_element"></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="page-header header-filter" data-parallax="active" style="background-image: url({% static 'img/bg9.jpg' %});">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="title">Before Pregnancy</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">
		<div class="container">
			<div class="about-team team-1">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<h2 class="title">DO'S</h2>
						<h5 class="description">Things to keep in mind before pregnancy.</h5>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<div class="card card-profile card-dark">
							<div class="content">
								<p class="card-description">Being familiar with your body’s cycle will make it easier to identify when you’re ovulating and can therefore conceive. 
                                    Along with keeping a calendar of your period and making predictions based on the most fertile periods around it, there are at-home 
                                    ovulation prediction kits that can include urine tests and apps that will help you determine ovulation probability based on basal temperatures
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="card card-profile card-dark">
							<div class="content">
								<p class="card-description">
                                    Use most regular lubricants. Many of the standard sexual lubricants sold at drug stores can hurt the chances of conception.
                                     The ingredients in these lubricants can negatively affect sperm integrity and motility
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="card card-profile card-dark">
							<div class="content">
								<p class="card-description">
                                    DO pay close attention to your diet. Diet is a critical component of wellness in general and becomes even more important when you’re trying to conceive.
                                     Make sure you have a diet based on whole, unprocessed foods.
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="card card-profile card-dark">
							<div class="content">
								<p class="card-description">DO take prenatal vitamins and supplements to enhance your diet and get the necessary nutrients. Prenatal vitamins are not just helpful during pregnancy.
                                     It is generally recommended that women take them before conception, during pregnancy, and even after the birth (especially if they’re breastfeeding). 
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="card card-profile card-dark">
							<div class="content">
								<p class="card-description">DO limit alcohol intake. Just like smoking, drinking in excess is not the healthiest of choices. When trying to conceive, 
                                    limit yourself to one drink per day, and preferably not every day. 
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="card card-profile card-dark">
							<div class="content">
								<p class="card-description">Do choose foods with antioxidants throughout pregnancy such
									as dark green spinach, oranges, carrots, red apples, yellow bananas, blueberries.
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="card card-profile card-dark">
							<div class="content">
								<p class="card-description">Drink at least eight glasses (1.5 litres) of fluid every
									day, mostly water. It’s very important to stay hydrated.
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="card card-profile card-dark">
							<div class="content">
								<p class="card-description">DO establish a safe workout routine. Being in top shape will help you conceive and help with early fetal development. 
                                    Being active is important, as is exercising regularly
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="about-team team-1">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h2 class="title">DONT'S</h2>
							<h5 class="description">Things to avoid before pregnancy.</h5>
						</div>
					</div>

					<div class="row">

						<div class="col-md-3">
							<div class="card card-profile card-dark">
								<div class="content">
									<p class="card-description">Smoking, drinking alcohol or drugs may be detrimental to development and health.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="card card-profile card-dark">
								<div class="content">
									<p class="card-description"> DON’T forget to get enough sleep. Getting much less than eight hours of sleep a night can play havoc 
                                        with your hormones, making conception less likely. 
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="card card-profile card-dark">
								<div class="content">
									<p class="card-description"> Don’t engage in high impact exercises and activities. No matter how quickly you want to get rid of the bulges in your tummy,
                                         your body needs time to recover, so the exercise will have to wait.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="card card-profile card-dark">
								<div class="content">
									<p class="card-description">DON’T forget to get enough sleep. Getting much less than eight hours of sleep a night can play havoc with your hormones, making conception less likely. 
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="card card-profile card-dark">
								<div class="content">
									<p class="card-description">Avoid dehydration, stress, over exertion and aggressive
										exercises.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="card card-profile card-dark">
								<div class="content">
									<p class="card-description">. Don’t strain when trying to poop. The muscles you use for pooping are the same muscles that you overexerted during childbirth.  
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="card card-profile card-dark">
								<div class="content">
									<p class="card-description">Don’t get into the sauna or steam room or overheat in
										the bath.
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="card card-profile card-dark">
								<div class="content">
									<p class="card-description">Do not consume street foods to avoid gastrointestinal
										problems.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer">
				<div class="container">
					<nav class="pull-left">
						<ul>
							<li>
								<a href="http://www.creative-tim.com">
									Creative Tim
								</a>
							</li>
							<li>
								<a href="http://presentation.creative-tim.com">
									About Us
								</a>
							</li>
							<li>
								<a href="http://blog.creative-tim.com">
									Blog
								</a>
							</li>
							<li>
								<a href="http://www.creative-tim.com/license">
									Licenses
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright pull-right">
						&copy;
						<script>document.write(new Date().getFullYear())</script>, made with <i
							class="fa fa-heart heart"></i>
						by Creative Tim
					</div>
				</div>
			</footer>

</body>
<!--   Core JS Files   -->
<!-- BotPenguin bot script starts here -->
<script id="Ym90cGVuZ3VpbkFwaQ" src="https://cdn.botpenguin.com/bot.js?apiKey=G%263_a%28-%3E%29VsCVCWo%7ED6X%3EI" async></script>
<!-- BotPenguin bot script ends here -->

<script type="text/javascript">
	function googleTranslateElementInit() {
		new google.translate.TranslateElement(
			{ pageLanguage: 'en' },
			'google_translate_element'
		);
	}  
</script>

<script type="text/javascript"
	src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/material.min.js' %}"></script>

<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'js/nouislider.min.js' %}" type="text/javascript"></script>

<!--	Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script src="{% static 'js/bootstrap-datepicker.js' %}" type="text/javascript"></script>

<!--	Plugin for Select Form control, full documentation here: https://github.com/FezVrasta/dropdown.js -->
<script src="{% static 'js/jquery.dropdown.js' %}" type="text/javascript"></script>

<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="{% static 'js/jquery.tagsinput.js' %}"></script>

<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>

<!-- Plugin For Google Maps -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="{% static 'js/material-kit.js' %}" type="text/javascript"></script>


</html>